$color: purple;

table.center{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
table.center td{
    border-bottom: solid 1px #ddd;
}

.blah {

}
h1{
    text-align: center;

}
